<h1>DASHBOARD</h1>
<p><%= @enterprise['enterpriseDisplayName'] %>の管理ページです。</p>

<h2>ポリシー</h2>
<div class="list-group">
<% @policies.each do |policy| %>
  <a href="/<%= policy['name'] %>" class="list-group-item list-group-item-action"><%= policy['name'].split("/").last %></a>
<% end %>
<a href="/enterprises/<%= params[:enterprise_name] %>/policies/new" class="list-group-item list-group-item-action">新規作成</a>
</div>

<% if @devices.present? %>
<h2>デバイス</h2>
<div class="list-group">
<% @devices.each do |device| %>
  <a href="/<%= device['name'] %>" class="list-group-item list-group-item-action">
  <%= device['name'].split('/').last %>
  <% if device['hardwareInfo'].present? %>
  <pre><%= JSON.pretty_generate(device['hardwareInfo']) %></pre>
  <% end %>
  </a>
<% end %>
</div>
<% end %>
